<div class="container-projetos">
    <div class="projeto">
        <div class="projeto-imagem">
            <img src="{{ projeto.imagem.url }}" alt="imagem do projeto">
        </div>
        <div class="projeto-conteudo">
            <h3>
                {{ projeto.titulo }}
            </h3>
        
            <p>
                {{ projeto.descricao }}
            </p>
        </div>
        <div class="projeto-tecnologias">
            {% for tecnologia in projeto.tecnologias.all %}
        
                <span badge-tecnologia>
                    {{ tecnologia.nome }}
                </span>
        
            {% endfor %}
        </div>
        <div class="projeto-links">
            <a href="{{ projeto.link_github }}" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-github"></i>
                código
            </a>
        </div>
    </div>
</div>
